<div class="container">
  <table border="0" style="width:100%; background-image:-webkit-linear-gradient(top, #08C, #04C); color:white; height:35px; margin-bottom:10px">
    <tr>
      <td width="15px">
        <a {{action previous}} style="cursor:pointer"><i class="icon-chevron-left icon-white"></i></a>
      </td>
      <td width="980px" align="center">
	      <span style="font-weight: bold; font-size: 15px">{{monthAndYear}}</span> ({{length}} activities)
      </td>
      <td width="15px">
	      <a {{action next}} style="cursor:pointer"><i class="icon-chevron-right icon-white"></i></a>
      </td>
    </tr>
  </table>
  {{outlet}}
</div>
